<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyer.pushsdk" >
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <service
            android:name=".GeTuiPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>
        <service android:name=".GeTuiIntentService"/>
    </application>
</manifest>
