<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flyer.chat">
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- im -->
    <uses-permission android:name="com.flyer.chat.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:name=".app.ChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="c06da13d27dcfabd0afd32a34451c0d8"/>

        <!--首页-->
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>
        <!--我的信息-->
        <activity android:name=".activity.setting.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <!--修改头像-->
        <activity android:name=".activity.setting.UserHeadActivity"
            android:screenOrientation="portrait"/>
        <!--修改信息-->
        <activity android:name=".activity.setting.UserInfoEditActivity"
            android:screenOrientation="portrait"/>
        <!--登陆-->
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!--注册-->
        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!--会话-->
        <activity android:name=".activity.ConversationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PickPictureActivity"
            android:screenOrientation="portrait"/>
        <!--图片浏览-->
        <activity android:name=".activity.BigPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"/>
        <!--二维码-->
        <activity android:name=".activity.setting.CodeActivity"
            android:screenOrientation="portrait"/>
        <!--二维码-->
        <activity android:name=".activity.setting.ScanActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>
        <!--查找朋友-->
        <activity android:name=".activity.setting.FindFriendActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>
        <!--启动页-->
        <activity android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullTransTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--推送-->
        <receiver
            android:name=".receiver.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--注册所得到的注册 ID-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--收到了自定义消息-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--收到了通知-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--用户点击了通知-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!--用户点击了通知栏中自定义的按钮-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <!--服务的连接状态发生变化-->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.flyer.chat" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.flyer.chat" />
            </intent-filter>
        </receiver>
    </application>

</manifest>